<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="span-16 first"
  <%= yield %>
</div>
<div class="span-7 last">
  <h1>
  fred
</h1>
</div>

</body>
</html>
